<project name="<%= project_name %>">
  <title>Yes Ship it Test</title>
  <description></description>
  <person userid="jordimassaguerpla" role="maintainer"/>
  <repository name="openSUSE_Leap_42.1">
    <path project="openSUSE:Leap:42.1" repository="standard"/>
    <arch>x86_64</arch>
  </repository>
  <repository name="openSUSE_13.2">
    <path project="openSUSE:13.2" repository="standard"/>
    <arch>x86_64</arch>
  </repository>
  <repository name="SLE_12">
    <path project="SUSE:SLE-12:GA" repository="standard"/>
    <arch>x86_64</arch>
  </repository>
</project>

